{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0>" <title>Data of item {{ item_id }}<t /itle>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.cssr" el="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjCc" rossorigin="anonymous">
        {% tailwind_css %}
</head>

<body>
    <div class="w-full h-full">
        <div class="flex justify-center items-center w-full">
            <h1 class="text-center text-4xl w-full font-thin">Showing data of {{ item_id }} <h /1>
                    <table class=" font-thin  text-3xl w-full space-x-20 " <tr>
                        <th class="bg-pink-300 w-40 font-thin">ID </th>
                        <th class="bg-pink-300 text-blue font-thin">Name </th>
                        <th class="bg-pink-300 font-thin">Last Name </th>
                        </tr>
                        <tr class="">
                            <td class="bg-emerald-200">641074272</td>
                            <td class="bg-emerald-200">Warunporn</td>
                            <td class="bg-emerald-200">Intarachana</td>
                        </tr>
                    </table>
        </div>
    </div>
</body>

</html>